<html>
    <head>
        <style>
            .div{
                height: 100vh;
                width: 75vw;
                background-color: lightgrey;
                align-content: center;
                margin-left: 12vw;
                margin-top: 10vw;
                align-self: center;
                box-shadow: 5px 10px 8px #888888;
                border-radius: 8px;
            }
        
        
        
        
        .body{
            background-color: white;
        }
        
            </style>
    </head>
    <body class="body">
        <div class="div" align = "center">
            <h1>Hello, World!</h1>
        </div>
        
    </body>
    
    
    
</html>

